<%= render 'shared/navbars/navbar-burger-title' %>

<%= render 'shared/profile' %>


<div class="tabs body-small max-z-index">
  <div class="tab">
    <%= link_to user_collections_path(@user) do  %>
      My collections
    <% end %>
  </div>
  <div class="tab opacity-low max-z-index">
    <%= link_to user_artworks_path(@user) do  %>
      All artworks
    <% end %>
  </div>
</div>


<div class="collection-container container d-flex flex-wrap">
  <% @collections.order("created_at desc").each do |collection| %>
    <div class="cards-triple">
      <div class="cards-triple-imgs">
        <%= link_to collection_path(collection) do %>
          <div class="img-triple">
            <% if collection.artworks[0] %>
              <div class="image img-one" style="background-image: url('<%= cl_image_path collection.artworks[0].photo.key %>');"></div>
            <% end %>
            <% if collection.artworks[1] %>
              <div class="image img-two" style="background-image: url('<%= cl_image_path collection.artworks[1].photo.key %>');"></div>
            <% end %>
            <% if collection.artworks[2] %>
              <div class="image img-three" style="background-image: url('<%= cl_image_path collection.artworks[2].photo.key %>');"></div>
            <% end %>
          </div>
        <% end %>
      </div>

      <div class="cards-triple-infos">
        <%= link_to collection_path(collection) do %>
          <div class="single-collection-infos">
            <h4><%= collection.name %></h4>
            <p class="mid-gray body-small"><%= collection.artworks.count %> artworks</p>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
