<%= render 'shared/navbars/navbar-burger-title' %>

<%= render 'shared/profile' %>


<div class="tabs body-small">
  <div class="tab">
    <%= link_to user_collections_path(@user) do  %>
      My collections
    <% end %>
  </div>
  <div class="tab opacity-low">
    <%= link_to user_artworks_path(@user) do  %>
      All artworks
    <% end %>
  </div>
</div>


<div class="container d-flex flex-wrap mt-5">
  <% @collections.each do |collection| %>
    <div class="cards-triple">
      <div class="cards-triple-imgs">
        <%= link_to collection_path(collection) do %>
          <div class="img-triple">
            <div class="image img-one" style="background-image: url('<%= cl_image_path collection.artworks[0].photo.key %>');"></div>
            <div class="image img-two" style="background-image: url('<%= cl_image_path collection.artworks[1].photo.key %>');"></div>
            <div class="image img-three" style="background-image: url('<%= cl_image_path collection.artworks[2].photo.key %>');"></div>
          </div>
        <% end %>
      </div>

      <div class="cards-triple-infos">
        <div class="single-collection-infos">
          <p class="subtitle"><%= collection.name %></p>
          <p style="color:#B1B1B1"><%= collection.artworks.count %> artworks</p>
        </div>
      </div>
    </div>
  <% end %>
</div>