<%= render 'shared/navbars/navbar-burger-title' %>

<div class="container container-mt mb-5">
  <div class="profile">

    <%= cl_image_tag @user.photo.key, alt: "alttext", class: "avatar" %>
    <h3 class="mt-3"><%= @user.name %></h3>
    <p class="body-small mid-gray"><%= @number_of_collections %> collections</p>
    <p class="body-small"><%= @user.description %></p>

  </div>
</div>

<hr>


<div class="container d-flex flex-wrap mt-5">
  <% @collections.each do |collection| %>
    <div class="cards-triple">
      <div class="cards-triple-imgs">
        <%= link_to collection_path(collection) do %>
          <div class="img-triple">
            <div class="image img-one" style="background-image: url('<%= cl_image_path collection.artworks[0].photo.key %>');"></div>
            <div class="image img-two" style="background-image: url('<%= cl_image_path collection.artworks[1].photo.key %>');"></div>
            <div class="image img-three" style="background-image: url('<%= cl_image_path collection.artworks[2].photo.key %>');"></div>
          </div>
        <% end %>
      </div>

      <div class="cards-triple-infos">
        <div class="single-collection-infos">
          <p class="subtitle"><%= collection.name %></p>
          <p style="color:#B1B1B1"><%= collection.artworks.count %> artworks</p>
        </div>
      </div>
    </div>
  <% end %>
</div>