<!-- NAVBAR -->

<div class="my-navbar bg-white">
    <div class="container navbar-container">

    <!-- Icon on the left -->
    <div class="navbar-left-side">
      <% #=  image_tag "icons/icon_back_arrow_black.png", class: "back-arrow", id: "my_arrow" %>
    </div>

    <!-- Page Title -->
    <div class="navbar-center-element">
      <%= link_to "#" do %>
        <h5>
          Explore
        </h5>
      <% end %>
    </div>

    <!-- Icon on the right -->
   <div class="navbar-right-side">
      <div class="burger icon-right" id="burger" >
      </div>
   </div>

    <!-- Menu overlay fullscreen -->
    <div id="myNav" class="overlay">
    <%= link_to "javascript:void(0)", class: "closebtn" do %>
      <%= image_tag "icons/icon_cross.png", class: "closebtn cross", id: "cross" %>
    <% end %>

      <div class="overlay-content">
        <h1 class="mb-3"> <%= link_to "Home", root_path %> </h1>
        <h1 class="mb-3"> <%= link_to "Explore", explore_artworks_path %> </h1>
        <h1> <%= link_to "My profile", user_collections_path(current_user) %> </h1>
        <hr>
        <h1> <%= link_to "Sign out", destroy_user_session_path, method: :delete %> </h1>
      </div>
    </div>
  </div>
</div>

<!-- MAIN SECTION -->

<div class="container container-mt">

  <div class="body-large mb-4 text-center">
    Latest posts from the community
  </div>

  <% @artworks.first(25).each do |artwork| %>

    <div class="card-explore">
      <div class="explore-top-infos">
        <div class="d-flex">
          <%= cl_image_tag artwork.user.photo.key, alt: "alttext" %>
          <%= link_to user_collections_path(artwork.user) do %>
            <h5><%= artwork.user.username %></h5>
          <% end %>
        </div>

        <% if artwork.location && artwork.location.length > 0 %>
          <div class="body-xs location">
            <p class="location-string">
              <i class="fas fa-map-marker-alt mr-1" style="font-size: 12px"></i>
              <%= artwork.location %>
            </p>
          </div>
        <% end %>
      </div>

      <%= link_to artwork_path(artwork) do %>

        <div class="card-text-over-img mt-3">
          <div class="artwork-infos">
            <% if artwork.artist %>
              <span class="subtitle"><%= artwork.artist.name.titleize %></span>
            <% else %>
              <span class="subtitle">Unknown artist</span>
            <% end %>
            <h3><%= artwork.title.titleize %></h3>
            <span class="subtitle"><%= artwork.completion_year %></span>
          </div>

          <div class="image-gradient">
          </div>

          <%= cl_image_tag artwork.photo.key  %>

          <div class="collection-tag">
            <h5><%= artwork.collection.name %></h5>
          </div>
        </div>
      </div>
    <% end %>

  <% end %>
</div>

<!-- <script>
  ScrollReveal({ reset: true }).reveal('.card-text-over-img', { delay: 200 });
  ScrollReveal({ reset: true }).reveal('.explore-top-infos', { delay: 150 });
</script> -->

