<h1>Save to collection</h1>
<p>Find me in app/views/artworks/create.html.erb</p>

<%# <%= simple_form_for([:user, @artwork]) do |f| %> %>
  <%# <%= f.select :collection, Artwork::COLLECTION %> %>
<%# <% end %> %>

<%# <%= @collections.each do |collection| %> %>
<%# <%= collection.name %> %>
<%# <%= cl_image_tag collection.photo.key %> %>


