<%= render 'shared/navbars/navbar-burger-title' %>

<%= render 'shared/profile' %>


<div class="tabs body-small">
  <div class="tab opacity-low">
    <%= link_to user_collections_path(@user) do  %>
      My collections
    <% end %>
  </div>
  <div class="tab">
    <%= link_to user_artworks_path(@user) do  %>
      All artworks
    <% end %>
  </div>
</div>


<div class="container mt-5">
    <% @artworks.each_slice(2) do |artwork| %>
      <div class="cards-duo">
        <div class="cards-duo-imgs">
          <div class="single-img">
            <%= link_to artwork_path(artwork[0]) do %>
              <%= cl_image_tag artwork[0].photo.key %>
            <% end %>
          </div>

          <% if artwork[1] %>
            <div class="single-img">
              <%= link_to artwork_path(artwork[1]) do %>
                <%= cl_image_tag artwork[1].photo.key %>
              <% end %>
            </div>
         <% end %>
        </div>

        <div class="cards-duo-infos">
          <div class="single-artwork-infos">
            <% if artwork[0].artist %>
              <p class="subtitle"><%= artwork[0].artist.name %></p>
            <% else %>
              <p class="subtitle">Unknown artist</p>
            <% end %>
            <h4><%= artwork[0].title %></h4>
            <p class="subtitle"><%= artwork[0].completion_year %></p>
          </div>

          <% if artwork[1] %>
            <div class="single-artwork-infos">
              <% if artwork[1].artist %>
                <p class="subtitle"><%= artwork[1].artist.name %></p>
              <% else %>
                <p class="subtitle">Unknown artist</p>
              <% end %>
              <h4><%= artwork[1].title %></h4>
              <p class="subtitle"><%= artwork[1].completion_year %></p>
            </div>
          <% end %>

          </div>
        </div>
      <% end %>

</div>
