<%= render 'shared/navbars/navbar-burger-title' %>

<div class="container container-mt mb-5">
  <div class="profile">

    <%= cl_image_tag @user.photo.key, alt: "alttext", class: "avatar" %>
    <h3 class="mt-3"><%= @user.name %></h3>
    <p class="body-small mid-gray"><%= @number_of_collections %> collections</p>
    <p class="body-small"><%= @user.description %></p>

  </div>
</div>

<hr>

<div class="container mt-5">
    <% @artworks.each_slice(2) do |artwork| %>
      <div class="cards-duo">
        <div class="cards-duo-imgs">
          <div class="single-img">
            <%= link_to artwork_path(artwork[0]) do %>
              <%= cl_image_tag artwork[0].photo.key %>
            <% end %>
          </div>

          <% if artwork[1] %>
            <div class="single-img">
              <%= link_to artwork_path(artwork[1]) do %>
                <%= cl_image_tag artwork[1].photo.key %>
              <% end %>
            </div>
         <% end %>
        </div>

        <div class="cards-duo-infos">
          <div class="single-artwork-infos">
            <% if artwork[0].artist %>
              <p class="subtitle"><%= artwork[0].artist.name %></p>
            <% else %>
              <p class="subtitle">Unknown artist</p>
            <% end %>
            <h4><%= artwork[0].title %></h4>
            <p class="subtitle"><%= artwork[0].completion_year %></p>
          </div>

          <% if artwork[1] %>
            <div class="single-artwork-infos">
              <% if artwork[1].artist %>
                <p class="subtitle"><%= artwork[1].artist.name %></p>
              <% else %>
                <p class="subtitle">Unknown artist</p>
              <% end %>
              <h4><%= artwork[1].title %></h4>
              <p class="subtitle"><%= artwork[1].completion_year %></p>
            </div>
          <% end %>

          </div>
        </div>
      <% end %>

</div>
