
<div class="nav_form">
  <p><i class="fas fa-chevron-left"></i></p>
  <h1>New Artwork</h1>
  <p>next</p>
</div>

</div>

<%# NAVBAR SPECIALE %>

<div class= "container">
  <div>
    <%= simple_form_for(@artwork) do |f| %>
      <%# STEP 1 PHOTO %>
      <div class="step1">
        <%= f.input :photo, as: :file %>
      </div>

      <%# STEP 2 INFO %>
      <div class="step2">
        <%# DISPLAY IMG %>
        <%= f.input :title, placeholder: "What's the artwork's title?", input_html: {class: "artwork_input"}%>
        <%= f.association :artist, collection: @artists, placeholder: "Who's the artist?", input_html: {class: "artwork_input"} %>
        <%= f.input :completion_year, placeholder: "Add year of completion", input_html: {class: "artwork_input"} %>
        <%= f.input :description, placeholder: "Add artwork description", input_html: {class: "artwork_input"} %>
        <%= f.input :notes, placeholder: "Add personal notes", input_html: {class: "artwork_input"} %>
        <%= f.association :collection, collection: @collections, placeholder: "Choose a colection" %>
      </div>

      <%# STEP 3 COLLECTION %>
      <div class="step3">
        <h1>Save to collection</h1>

        <%# <%= cl_image_tag artwork.photo.key %>
        <%# Display list of collection with pictures %>
        <div>
      </div>
      <%= f.submit class: "button" %>
    <% end %>

    <% current_user.collections.each do |collection| %>
      <%= collection.name.titleize %>
      <%# <%= cl_image_tag collection.photo.key%>
    <% end %>
  </div>
</div>


