
<div class="nav_form">
  <p><i class="fas fa-chevron-left"></i></p>
  <h1>New Artwork</h1>
  <p>next</p>
</div>

<%# NAVBAR SPECIALE %>

<div class= "container">
  <div>
    <%= simple_form_for(@artwork) do |f| %>
      <%# STEP 1 PHOTO %>
      <div class="step1">
        <%= f.input :photo, as: :file %>
      </div>

      <%# STEP 2 INFO %>
      <div>
        <%# DISPLAY IMG %>

      <div class="step2">
        <hr><%= f.input :title, placeholder: "What's the artwork's title?", input_html: {class: "artwork_input"}%>
        <hr><%= f.association :artist, collection: @artists, placeholder: "Who's the artist?", input_html: {class: "artwork_input"} %>
        <hr><%= f.input :completion_year, placeholder: "Add year of completion", input_html: {class: "artwork_input"} %>
        <hr><%= f.input :description, placeholder: "Add artwork description", input_html: {class: "artwork_input"} %>
        <hr><%= f.input :notes, placeholder: "Add personal notes", input_html: {class: "artwork_input"} %>
      </div>

      <%# STEP 3 COLLECTION %>
      <div class="step3">
        <hr><%= f.association :collection, collection: @collections,
          as: :radio_buttons,
          collection_wrapper_tag: 'div',
          collection_wrapper_class: 'category-wrapper',
          item_wrapper_class: 'category-item',
          label_method: lambda { |collection| render "collections/collection_label", collection: collection },
          input_html: {class: 'select-collection'} %>
      </div>

     <%= f.submit class: "button" %>
    <% end %>
  </div>
</div>


