<div class="my-navbar bg-white">

    <!-- Icon on the left -->
    <div class="navbar-left-side">
      <%= image_tag "icons/icon_back_arrow_black.png", class: "back-arrow" %>
    </div>

    <!-- Page Title -->
    <div class="navbar-center-element">
      <h5>Find an artwork</h5>
    </div>

    <!-- Icon on the right -->
   <div class="navbar-right-side">
      <div class="burger icon-right" id="burger" >
      </div>
   </div>

    <!-- Menu overlay fullscreen -->
    <div id="myNav" class="overlay">
    <%= link_to "javascript:void(0)", class: "closebtn" do %>
      <%= image_tag "icons/icon_cross.png", class: "closebtn cross", id: "cross" %>
    <% end %>

    <div class="overlay-content">
      <h1 class="mb-3"> <%= link_to "Home", root_path %> </h1>
      <h1 class="mb-3"> <%= link_to "Explore", explore_artworks_path %> </h1>
      <h1> <%= link_to "My profile", user_collections_path(current_user) %> </h1>
      <hr>
      <h1> <%= link_to "Sign out", destroy_user_session_path, method: :delete %> </h1>
    </div>
  </div>
</div>


<div class="container container-mt">

  <%= form_tag search_artworks_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Search title or artist"
    %>
    <%= submit_tag "Search", class: "button button-block mt-3 mb-5" %>
  <% end %>


  <% if @artworks %>
    <p class="body-large mt-3"><%= @artworks.count %> Result(s) for « <%= params[:query] %> » </p>
    <% @artworks.each do |artwork| %>

      <div class="search-card">
        <%= image_tag artwork.tmp_image_url %>

        <div class="infos-button">
          <div>
            <p class="subtitle"><%= artwork.tmp_artist_name %></p>
            <h4><%= artwork.title %></h4>
            <p class="subtitle"><%= artwork.completion_year %></p>
          </div>

          <div>
            <%= simple_form_for(artwork) do |f| %>
              <%= f.hidden_field :title, value: artwork.title %>
              <%= f.hidden_field :artist, value: artwork.tmp_artist_name %>
              <%= f.hidden_field :completion_year, value: artwork.completion_year %>
              <%= f.hidden_field :tmp_artist_name, value: artwork.tmp_artist_name %>
              <%= f.hidden_field :tmp_image_url, value: artwork.tmp_image_url %>
              <%= f.submit "Select", class: 'button' %>
            <% end %>

          </div>
        </div>

        <hr class="card-line">

      </div>
    <% end %>

  <% end %>

  <% if params[:query] && @artworks.empty? %>
    <p class="body-large mt-3">Sorry, we couldn't find anything matching your input...</p>
  <% end %>
</div>

<div class="illustration">
  <%= image_tag "https://i.ibb.co/wzz2hrt/illustration-lady.png", alt: "alttext" %>
</div>
