<%= render 'shared/navbars/navbar-burger-title' %>

<div class="container container-mt">

  <%= form_tag search_artworks_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a movie"
    %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>

  <% if @artworks %>
    <% @artworks.each do |artwork| %>
    <div class="search-card">
      <%= image_tag artwork.tmp_image_url %>

      <%= artwork.tmp_artist_name %>
      <%= artwork.title %>
      <%= artwork.completion_year %>

      <%= simple_form_for(artwork) do |f| %>
        <%= f.hidden_field :title, value: artwork.title %>
        <%= f.hidden_field :artist, value: artwork.tmp_artist_name %>
        <%= f.hidden_field :completion_year, value: artwork.completion_year %>
        <%= f.hidden_field :tmp_artist_name, value: artwork.tmp_artist_name %>
        <%= f.hidden_field :tmp_image_url, value: artwork.tmp_image_url %>
        <%= f.submit  %>
      <% end %>

    </div>
    <% end %>
  <% end %>

</div>
