<% if @artwork.user == current_user %>
  <%= link_to new_artwork_path do %>
    <%= image_tag "icons/button_camera_main_gray.png", alt: "alttext", class: "button-camera-main-dark" %>
  <% end %>
<% end %>

<div class="my-navbar bg-dark white">
    <div class="container navbar-container">

    <!-- Icon on the left -->
    <div class="navbar-left-side">
      <%= image_tag "icons/icon_back_arrow_white.png", class: "back-arrow", id: "my_arrow" %>
    </div>

    <!-- Page Title -->
    <div class="navbar-center-element">
      <%= link_to user_collections_path(@artwork.user) do %>
        <h5 class="white">
          <%= @artwork.user.username %>
        </h5>
      <% end %>
    </div>

    <!-- Icon on the right -->
   <div class="navbar-right-side">
      <div class="icon-right burger-white" id="burger" >
      </div>
   </div>

    <!-- Menu overlay fullscreen -->
    <div id="myNav" class="overlay">
    <%= link_to "javascript:void(0)", class: "closebtn" do %>
      <%= image_tag "icons/icon_cross.png", class: "closebtn cross", id: "cross" %>
    <% end %>

      <div class="overlay-content">
        <h1 class="mb-3"> <%= link_to "Home", root_path %> </h1>
        <h1 class="mb-3"> <%= link_to "Explore", explore_artworks_path %> </h1>
        <h1> <%= link_to "My profile", user_collections_path(current_user) %> </h1>
        <hr>
        <h1> <%= link_to "Sign out", destroy_user_session_path, method: :delete %> </h1>
      </div>
    </div>
  </div>
</div>

<body class="body-artwork-show white">
  <div class="container">
    <% if @artwork.location && @artwork.location.length > 0 %>
      <span class="body-xs"><i class="fas fa-map-marker-alt mr-1"></i> <%= @artwork.location %></span>
    <% end %>

    <div class="img-show">
      <div class="crop">
      </div>
      <%= cl_image_tag @artwork.photo.key, alt: "alttext" %>
    </div>

    <div class="artwork-infos-show text-center mb-5">
      <% if @artwork.artist %>
        <p class="subtitle mb-1"> <%= @artwork.artist.name %></p>
      <% else %>
        <p class="subtitle mb-1">Unknown artist</p>
      <% end %>
      <% if @artwork.title && @artwork.title.length > 0 %>
        <h2><%= @artwork.title.titleize %></h2>
      <% else %>
        <h2>Unknown title</h2>
      <% end %>
      <% if @artwork.completion_year %>
        <p class="subtitle"> <%= @artwork.completion_year %></p>
      <% end %>
    </div>

    <% if @artwork.user != current_user %>
      <% if @artwork.favorites.where(user: current_user).count < 1 %>


      <%= link_to favorites_path(:artwork_id => @artwork.id), remote: true, method: :post do  %>
        <div class="heart-container">
          <p class="body-medium" style="color:white"><i class="far fa-heart"></i></p>
        </div>
      <% end %>

        <!-- <i class="far fa-heart"></i> -->
      <% else %>
        <%= link_to favorite_path(@artwork_favorite.first),
        remote: true,
        method: :delete do %>
          <div class="heart-container">
            <p class="body-medium" style="color:white"><i class="fas fa-heart"></i></p>
          </div>
        <% end %>
      <% end %>
    <% end %>

    <div class="collection-tag">
      <%= link_to collection_path(@artwork.collection) do %>
      <h5><%= @artwork.collection.name %></h5>
      <% end %>
    </div>

    <% if @artwork.artist && @artwork.artist.bio %>
      <div class="text-block">
        <h4>About the artist: <%= @artwork.artist.name %> </h4>
        <p class="body-medium artist-bio"> <%= @artwork.artist.bio %> </p>
        <% if @artwork.artist.url %>
          <%= link_to @artwork.artist.url, target: "blank" do %>
            <p class="subtitle read-more"><i class="fas fa-arrow-right"></i> Read more</p>
          <% end %>
        <% end %>
      </div>
    <% end %>


    <div class="mt-3">
      <% if @artwork.user == current_user %>
        <%= link_to edit_artwork_path(@artwork), class: "button button-dark-gray mt-4" do  %>
          Edit
        <% end %>

        <%= link_to "Delete",
        artwork_path(@artwork), class: "button button-dark-gray mb-3",
        method: :delete,
        data: { confirm: "Are you sure?" } %>
      <% end %>
    </div>

  </div>
</body>

